.u-center-text { text-align: center; }

.u-margin-bottom-xxs { margin-bottom: var(--space-xxs); }
.u-margin-bottom-xs { margin-bottom: var(--space-xs); }
.u-margin-bottom-sm { margin-bottom: var(--space-sm); }
.u-margin-bottom-md { margin-bottom: var(--space-md); }
.u-margin-bottom-lg { margin-bottom: var(--space-lg); }
.u-margin-bottom-xl { margin-bottom: var(--space-xl); }
.u-margin-bottom-xxl { margin-bottom: var(--space-xxl); }
.u-margin-bottom-huge { margin-bottom: var(--space-huge); }

.u-margin-top-xxs { margin-top: var(--space-xxs); }
.u-margin-top-xs { margin-top: var(--space-xs); }
.u-margin-top-sm { margin-top: var(--space-sm); }
.u-margin-top-md { margin-top: var(--space-md); }
.u-margin-top-lg { margin-top: var(--space-lg); }
.u-margin-top-xl { margin-top: var(--space-xl); }
.u-margin-top-xxl { margin-top: var(--space-xxl); }
.u-margin-top-huge { margin-top: var(--space-huge); }

.u-margin-left-xxs { margin-left: var(--space-xxs); }
.u-margin-left-xs { margin-left: var(--space-xs); }
.u-margin-left-sm { margin-left: var(--space-sm); }
.u-margin-left-md { margin-left: var(--space-md); }
.u-margin-left-lg { margin-left: var(--space-lg); }
.u-margin-left-xl { margin-left: var(--space-xl); }
.u-margin-left-xxl { margin-left: var(--space-xxl); }
.u-margin-left-huge { margin-left: var(--space-huge); }

.u-margin-right-xxs { margin-right: var(--space-xxs); }
.u-margin-right-xs { margin-right: var(--space-xs); }
.u-margin-right-sm { margin-right: var(--space-sm); }
.u-margin-right-md { margin-right: var(--space-md); }
.u-margin-right-lg { margin-right: var(--space-lg); }
.u-margin-right-xl { margin-right: var(--space-xl); }
.u-margin-right-xxl { margin-right: var(--space-xxl); }
.u-margin-right-huge { margin-right: var(--space-huge); }